.button {
  @include link;
  @include button-medium;

  display: block;
  position: relative;
  padding: 0;

  text-align: center;
  border: none;
  background-color: $base-white;
  cursor: pointer;
}

.button--dark-back {
  padding: 22px;

  border: 2px solid $base-white;
  background-color: transparent;
  color: $base-white;

  &:hover {
    background-color: $base-white;
    color: $add-accent;
  }

  &:focus {
    outline: none;
    border-color: $base-dark;
    background-color: rgba(255, 255, 255, 0.8);
    color: $add-accent;
  }

  &:active {
    border-color: $base-white;
    background-color: $base-white;
    color: $base-dark;
  }

  &[aria-disabled="true"] {
    opacity: 0.5;
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    padding: 20px;
  }

  @media (min-width: $tablet-width) {
    padding: 25px;
  }

}

.button--main {
  padding: 25px;
  border: 2px solid $base-dark;

  &:hover {
    padding: 27px;
    border: none;
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    color: $base-white;
  }

  &:focus {
    outline: none;
    background: linear-gradient(151deg, rgba(237, 2, 51, 0.8) 0%, rgba(0, 62, 183, 0.8) 100%);
    color: $base-white;
  }

  &:active {
    padding: 27px;
    border: none;
    background: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
    color: rgb(255, 255, 255, 0.7);
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }

}
