.header {
  display: flex;
  justify-content: space-between;

  padding: 16px 0;

  @media (min-width: $tablet-width) {
    padding: 30px 0;
  }
}

.header__logo {
  margin-bottom: 2px;

  @media (min-width: $tablet-width) {
    width: 110px;
    height: 22px;

    margin: 1px 0;
  }

  @media (min-width: $desktop-width) {
    width: 130px;
    height: 26px;

    margin: 0;
  }
}

.header__phone {
  @include title--h4;

  margin: 0;

  text-decoration: none;
  color: $base-white;

  &:hover {
    color: $button-border-secondary;
    opacity: 50%;
  }

  &:focus {
    outline: none;
    color: $block-secondary-background;
  }

  &:active {
    color: $base-dark;
    box-shadow: 0 1px $base-dark;
  }

  &[aria-disabled="true"] {
    opacity: 50%;
    pointer-events: none;
  }
}
