.page {
  height: 100%;
}

.page-body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  margin: 0 auto;

  font-family: $font-secondary;
  font-weight: 400;
  font-size: 14px;

  line-height: 100%;
  color: $base-dark;

  background-color: $base-white;

  main {
    flex-grow: 1;
  }
}

.page__wrapper {
  width: 320px;

  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 0 45px;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
    padding: 0 103px;
  }
}
