.plan {
  padding: 50px 42px;

  background-color: $base-white;

  @media (min-width: $tablet-width) {
    padding: 65px;
  }
}

.plan:focus-within,
.plan:has(.plan__button:hover) {
  padding: 43px 35px;
  border: 7px solid;
  border-image: linear-gradient(151deg, #ed0233 0%, #003eb7 100%);
  border-image-slice: 1;

  @media (min-width: $tablet-width) {
    padding: 58px;
  }
}

.plan__title {
  @include title--h4;

  margin: 0;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
  }
}

.plan__about {
  @include text--medium;

  margin: 0;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
  }
}

.plan__price {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 17px;
  }
}

.plan__container {
  @include number-medium;

  display: flex;
  justify-content: center;
  align-items: baseline;

  margin-top: -72px;
  color: $add-accent;
  z-index: 1;

  svg {
    margin-left: 10px;
  }

  @media (min-width: $tablet-width) {
    margin-top: -90px;

    svg {
      margin-left: 14px;
    }
  }
}

.plan__shadow-price {
  @include number-xlarge;

  text-align: center;
  color: #E8E8E8;
  opacity: 0.48;
}

.plan__button {
  position: relative;
  width: 100%;
}
