/* здесь используйте глобальные переменные */
//Fonts//

$font-primary: "Alumni Sans", "Arial", sans-serif;
$font-secondary: "Roboto Condensed", "Arial", sans-serif;

//Viewports//

$tablet-width: 768px;
$desktop-width: 1366px;

//Colors//

$base-white: #FFFFFF;
$base-dark: #102654;
$secondary-light: #F8F9FC;
$secondary-dark: #030A1A;


$add-accent: #103AAE;
$add-gradient: linear-gradient(129deg, #d10a42 0%, #0041ca 100%);
$button-gradient: linear-gradient(136deg, #d10a42 0%, #00359f 100%);;
$button-border-secondary: #1C3374;
$tab-state: #D10A42;

$banners: #ED0233;
$main-gradient: linear-gradient(90deg, #1c3477 0%, #1c3477 0.01%, #1a3578 39.11%, #73184b 75.5%, #b4022a 100%);
$block-secondary-background: #1C3374;
$play-button-focus: #C8C9CC;

$error: #FF121F;
